.miniMode {
    padding: 1rem;
    margin: 0 25%;
    border: 1px dashed slategrey;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.newPost {
    margin: 0 25%;
}

.newPost__input {
    width: 30rem;
    margin: 0.5rem 0;
}

.newPost__description {
    width: 100%;
    height: 5em;
}

.newPost__drop {
    padding: 1rem;
    color: gray;
    font-size: 1rem;
    border: 1px dotted lightgrey;
    text-align: center;
}

.newPost__upload {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem 0 0 0;
}

.newPost__fileUpload {
    flex-basis: 30%;
}

.newPost__uploadPrompt {
    flex-basis: 50%;
}

.newPost__plus {
    font-size: 6rem;
}

.post {
    margin: 0 25% 1em 25%;
    flex-basis: 50%;
    background: hsla(183, 79%, 89%, 1);
    background: linear-gradient(180deg, hsla(183, 79%, 89%, 1) 0%, hsla(49, 89%, 50%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(183, 79%, 89%, 1) 0%, hsla(49, 89%, 50%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(183, 79%, 89%, 1) 0%, hsla(49, 89%, 50%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ccf7f9", endColorstr="#f1c80f", GradientType=1 );
    padding: 10px 20px 20px 20px;
    border-radius: 2px;
    box-shadow: 5px 5px #00D7DF;
}

.post__title {
    margin: 0;
    padding: 0;
}

.post__image {
    width: 100%;
    border-radius: 2px;
}

.post__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post__tagline {
    font-size: 1.0em;
    margin: 1em 0 0.5em 0;
}

.post__remark {
    font-size: 2em;
    margin: 1em 0 0.5em 0;
}

.small-text {
    font-size: small;
}